<app-header></app-header>

<ion-content>
  <ion-grid>

    <h4 class="wx-border-bottom">Manual Search</h4>
  
    <form [formGroup]="manualSearchForm" (ngSubmit)="onSubmit()" class="ion-margin-top  wx-pr-1-2">
      <ion-row>
        <ion-col class="">
          <ion-item class="wx-scan-input-box">
            <ion-label position="floating">Scan Barcode</ion-label>
            <ion-input type="text" clearInput="true" placeholder="Scan Barcode" formControlName="barcode" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="">
          <ion-item class="wx-scan-input-box">
            <ion-label position="floating">Search By</ion-label>
            <ion-select placeholder="Search By" formControlName="type">
              <ion-select-option *ngFor="let sb of searchByDropDown" [value]="sb.key" >{{sb.displayText}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="">
          <ion-button color="primary" type="submit" size="large" class="wx-w-100" [disabled]="!hasConfigured">SEARCH</ion-button>
        </ion-col>
      </ion-row>
    </form>

    <ion-row *ngIf="isFetching" class="ion-margin-top wx-scan-input-box ion-justify-content-center">
      <ion-col size="auto">
        <ion-card>
          <ion-card-content>
            <div class="wx-text-center"><ion-spinner color="warning" name="bubbles"></ion-spinner></div>

            <p>Loading Product details for {{manualSearchForm.value.barcode}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="products" class="ion-margin-top wx-scan-input-box wx-text-dark-tint">
      <ion-col class="wx-mx-1">
        Below are the results for {{findDropDownDisplayText(manualSearchForm.value.type)}} <strong>{{manualSearchForm.value.barcode}}</strong>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-accordion-group class="wx-mx-1">
          <ion-accordion *ngFor="let product of products">
            
            <ion-item slot="header">
              <ion-label>
                <ion-row class="wx-d-flex wx-align-items-center">
                  <ion-col class="wx-h2 wx-truncate">{{product.description}}</ion-col>
                  <ion-col size="auto">{{addEnvironmentTax(product.prixvente, product.envprixvente, product.specialprix) | currency}}</ion-col>
                </ion-row>
              </ion-label>
            </ion-item>
    
            <ion-list slot="content">
              <ion-item>
                <ion-label>
                  <ion-row>
                    <ion-col><strong>product</strong></ion-col>
                    <ion-col>{{product.description}}</ion-col>
                  </ion-row>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <ion-row>
                    <ion-col><strong>UPC</strong></ion-col>
                    <ion-col>{{product.noarticle}}</ion-col>
                  </ion-row>
                </ion-label>
              </ion-item>
    
              <ion-item>
                <ion-label>
                  <ion-row>
                    <ion-col><strong>Localisation</strong></ion-col>
                    <ion-col>{{product.localisation}}</ion-col>
                  </ion-row>
                </ion-label>
              </ion-item>
    
              <ion-item>
                <ion-label>
                  <ion-row>
                    <ion-col><strong>Department</strong></ion-col>
                    <ion-col>{{product.departement}}</ion-col>
                  </ion-row>
                </ion-label>
              </ion-item>
    
              <ion-item>
                <ion-label>
                  <ion-row>
                    <ion-col><strong>Supplier</strong></ion-col>
                    <ion-col>{{product.fournisseur}}</ion-col>
                  </ion-row>
                </ion-label>
              </ion-item>
    
              <ion-item>
                <ion-label>
                  <ion-row>
                    <ion-col><strong>Supplier No.</strong></ion-col>
                    <ion-col>{{product.nofournisseur}}</ion-col>
                  </ion-row>
                </ion-label>
              </ion-item>
    
              <ion-item>
                <ion-label>
                  <ion-row>
                    <ion-col><strong>Price</strong></ion-col>
                    <ion-col>{{product.prixvente | currency}}</ion-col>
                  </ion-row>
                </ion-label>
              </ion-item>
    
              <ion-item *ngIf="product.envprixvente != null">
                <ion-label>
                  <ion-row>
                    <ion-col><strong>Environment Tax</strong></ion-col>
                    <ion-col>{{product.envprixvente | currency}}</ion-col>
                  </ion-row>
                </ion-label>
              </ion-item>
    
              <ion-item *ngIf="product.specialarticle != null">
                <ion-label>
                  <ion-row>
                    <ion-col><strong>Special price</strong></ion-col>
                    <ion-col>{{product.specialprix | currency}}</ion-col>
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-list>
            
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    </ion-row>

    <ion-card *ngIf="product">
      <ion-card-header>
        <ion-card-subtitle>{{ product.departement }}</ion-card-subtitle>
        <ion-card-title>{{ product.description }}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content class="wx-text-dark-tint">
        <ion-row>
          <ion-col><strong>UPC</strong></ion-col>
          <ion-col>{{product.noarticle}}</ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col><strong>Localisation</strong></ion-col>
          <ion-col>{{product.localisation}}</ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col><strong>Department</strong></ion-col>
          <ion-col>{{product.departement}}</ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col><strong>Supplier</strong></ion-col>
          <ion-col>{{product.fournisseur}}</ion-col>
        </ion-row>
  
        <ion-row class="">
          <ion-col><strong>Supplier No.</strong></ion-col>
          <ion-col>{{product.nofournisseur}}</ion-col>
        </ion-row>

        <ion-row class="">
          <ion-col><strong>Price</strong></ion-col>
          <ion-col>{{product.prixvente | currency}}</ion-col>
        </ion-row>

        <ion-row *ngIf="product.envprixvente != null">
          <ion-col><strong>Environment Tax</strong></ion-col>
          <ion-col>{{product.envprixvente | currency}}</ion-col>
        </ion-row>

        <ion-row *ngIf="product.specialarticle != null">
          <ion-col><strong>Special price</strong></ion-col>
          <ion-col>{{product.specialprix | currency}}</ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col class="wx-text-end">
            <ion-text color="dark">
              <h1 color="dark">{{addEnvironmentTax(product.prixvente, product.envprixvente, product.specialprix) | currency}}</h1>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  
  </ion-grid>
</ion-content>


